
{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Soad pro</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
    <script src="https://js.stripe.com/v3/"></script>
    <script src="{% static 'main.js' %}"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
  <body>
  <section class="section">
    <div class="container">
      {% for i in res %}
      <p>The categoty is {{i.category}}</p>
      <p>{{i.product_name}}</p>
      <p>The price is {{i.price}}</p>
      <p>The discount for the above produt is {{i.desc}}</p>
      <img src={{i.image}}>
      <a href="/check/"><button>Checkout</button></a>
      {% endfor %}


    </div>
  </section>
  </body>
</html>
